@import url('https://fonts.googleapis.com/css?family=Forum|Oleo+Script+Swash+Caps');


body {
	
	font-family: "Forum";
	
}

section {background-image: url(../images/HomepageHero.jpg);
	height: 500px;

}

#logo{
	width: 40px
	height: 10px;
}

header{
	background-color: #d3d3d3;
	padding: 20px;
	font-family: "Oleo+Script+Swash+Caps";
}

nav a{
	color: #9A2C14;
	margin-right: 10px;
}

#deli{
	width: 100%;
	height: 500px;
}	

#social{
	width: 100%
	height: 50px;
}
